<template>
  <div class="container pt-4">
    <h1 class="pb-4">Liste des pokémons</h1>
    <div class="input-group  mb-5">
      <!-- Search -->
      <input type="text" class="form-control" v-model="searchValue" placeholder="Ex: Pikachu"/>
      <div class="input-group-append">
        <!-- Sort -->
        <button @click="sortUp" class="btn btn-dark input-group-text"><i class="fa fa-angle-down"></i></button>
        <button @click="sortDown" class="btn btn-dark input-group-text"><i class="fa fa-angle-up"></i></button>
      </div>
    </div>
    <div v-if="!loading">
      <div class="row" v-if="!error">
        <div class="col-sm m-2" v-for="p in filteredPokemons" :key="p.id">
          <!-- Generate pokemon card -->
          <router-link class="text-decoration-none text-dark" :to="{ name: 'pokemon', params: { name: p.name.toLowerCase() }}">
            <img class="card-img-top mt-4" :src="p.img" alt="Card image" style="width:100px">
            <div class="card-body">
              <h4 class="card-title">{{ p.name }}</h4>
              <p>#{{ p.num }}</p>
              <!-- Add pokemon type -->
              <ul v-for="type in p.types" :key="type.id">
                <li>
                  <router-link :to="{ name: 'type', params: { type: type.toLowerCase() }}">{{ type }}</router-link>
                </li>
              </ul>
            </div>
          </router-link>
        </div>
      </div>
      <!-- Displayed if there is an error  -->
      <div v-else>
        <h1>Un erreur est survenue</h1>
      </div>
    </div>
    <!-- Displayed during loading -->
    <div v-else>
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      searchValue: '',
      pokemons: [],
      loading: true,
      error: false
    }
  },
  mounted () {
      this.$http.get('http://localhost:8888/api/pokemon/all').then(response => {
        this.pokemons = response.body
      }, reponse => {
        console.log('Call error')
        this.error = true
      }).finally(() => this.loading = false)
  },
  computed: {
    filteredPokemons() {
      return this.pokemons.filter(pokemon => {
        return pokemon.name.toLowerCase().includes(this.searchValue.toLowerCase())
      })
    }
  },
  methods: {
    sortUp() {
      this.pokemons.sort((a, b) => a.id > b.id ? 1 : -1);
    },
    sortDown() {
      this.pokemons.sort((a, b) => a.id < b.id ? 1 : -1);
    }
  }
}
</script>

<style>

  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  .row .col-sm {
    min-width: 200px;
    max-width: 250px;
    transition: 0.4s;
    border-radius: 3px;
  }
  .row .col-sm:hover {
    transform: translate(-5px, -5px);
  }

</style>
