<template>
  <div class="container w-50 pt-4">
    <div v-if="!loading">
      <div v-if="!error">
        <div class="row mx-auto">
          <!-- Info & Stats -->
          <div class="col">
            <img :src="pokemon.img" :alt="pokemon.name">
          </div>
          <div class="col text-left">
            <h1>
                {{ pokemon.name }}
            </h1>
            <h5>
              {{ pokemon.num }}
            </h5>
            <div class="stats">
                <ul>
                    <li>
                        Poids: {{ pokemon.weight }}
                    </li>
                    <li>
                        Taille: {{ pokemon.height }}
                    </li>
                    <li>
                        Spawn chance: {{ pokemon.spawn_chance }}
                    </li>
                </ul>
            </div>
          </div>
        </div>
        <!-- types & weaknesses -->
        <div class="row jumbotron-container">
          <div class="col jumbotron mx-2 p-4 text-left">
            <div class="container">
              <h3>Types</h3>
              <div class="types pl-3" v-for="(type, i) in pokemon.types" :key="type.id">
              <router-link :to="{ name: 'type', params: { type: type.toLowerCase() }}">
                {{ type }}
              </router-link>
              </div>
            </div>
          </div>
          <div class="col jumbotron mx-2 p-4 text-left">
            <div class="container">
              <h3>Faiblesses</h3>
                <div class="weaknesses pl-3" v-for="weakness in pokemon.weaknesses" :key="weakness.id">
                    {{ weakness }}
                </div>
            </div>
          </div>
        </div>
        <hr>
        <!-- Evolution -->
        <div class="evolutions">
          <h5 class="text-left">Evolutions :</h5>
          <div class="row py-4">
            <div class="evolution col" v-for="evolution in evolutions" :key="evolution.id">
              <img :src="evolution.img" :alt="evolution.name">
              <h6 class="pt-2 text-dark">
                {{ evolution.name + ' #' + evolution.num}}
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <h1>Il y a une erreur</h1>
      </div>
    </div>
    <div v-else>
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'pokemon',
  data () {
    return {
      pokemon: [],
      evolutions: [],
      loading: true,
      error: false
    }
  },
  mounted () {
    let query = this.$route.params.name

    this.$http.get(`http://localhost:8888/api/pokemon?name=${query}`).then(response => {
      this.pokemon = response.body

      if (this.pokemon.evolutions != null || this.pokemon.evolutions != undefined) {
        Object.keys(this.pokemon.evolutions).map((keys, index) => {
          let query = this.pokemon.evolutions[index].name

          this.$http.get(`http://localhost:8888/api/pokemon?name=${query}`).then(response => {
            this.evolutions.push(response.body)
          }, response => {
            console.log('Evolutions call error')
          })
        })

      } else {
        this.evolutions = ['Truc chelou quand meme ca non']
      }

    }, reponse => {
        this.error = true
        console.log('Call error')
    }).finally(() => this.loading = false)
  }
}
</script>

<style>

  ul {
    list-style-type: none;
    padding: 0;
  }
  .stats li {
    margin-top: 5px;
    font-size: 0.9em;
  }
  .evolution img {
    max-width: 80px;
  }
  .jumbotron-container{
    margin: 40px 0 20px 0;
  }

</style>
